body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* White */
  color: #4b0082; /* Purple */
}

header {
  background-color: #4b0082; /* Purple */
  color: #ffd700; /* Gold */
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #4b0082; /* Purple */
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: #ffd700; /* Gold */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ffd700; /* Gold */
  color: #4b0082; /* Purple */
}

main {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

section {
  background-color: #ffffff; /* White */
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #4b0082; /* Purple */
}

footer {
  background-color: #4b0082; /* Purple */
  color: #ffd700; /* Gold */
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #4b0082; /* Purple */
  color: #ffd700; /* Gold */
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.back-to-top:hover {
  background-color: #ffd700; /* Gold */
  color: #4b0082; /* Purple */
}

@media (max-width: 768px) {
  .back-to-top {
    display: block;
  }
}

@media (min-width: 400px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1500px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
